body {
    background-color: #F6CAB9;
    margin: 0;
    padding: 0;
    /*height: 2000px;*/
}

#content {
    display: flex;
    margin-top: 300px;
    margin-left: 250px;
    background-color: #F6CAB9;
}
#proj-content {
    display: flex;
    /*margin-top: 20px;*/
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 25%;
    height: 600px;
    /*border: 1px solid #50571B;*/
    background-color: #F6CAB9;
}

#video {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 400px;
}

#logo{
    margin-left: 30px;
}

p {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16pt;
    color: #50571B;
    padding-left: 10px;
    padding-right: 250px;
}

#project-title {
    margin-top: 250px;
    margin-left: 13%;
    margin-right: auto;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18pt;
    color: #50571B;
       
}
h2 {
    margin-top: 5px;
    margin-left: 13%;
    margin-right: auto;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14pt;
    color: #50571B;
}

.eyebox {
    margin: 0;
    padding: 0;
    color: #14495e;
  }
  
  #map { 
    position: absolute; 
    top: 300px; 
    bottom: 50px; 
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
  }
